html{
    scroll-behavior: smooth;

}

#Home{
    position: relative;
    display: flex;
    background-image: url(./Photos/Ginsburg_Mena_26.7.22\ 86.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    height: 100%;
    z-index: 1;
}

#a{
    position: fixed;
    border-radius: 2vh;
    text-align: center;
    padding-top: 2.5vh;
    bottom: 1vh;  
    right: 1vw;
    background-color: rgba(150, 150, 150, 0.699);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    text-decoration:none;
    width: 4vw;
    height: 5.5vh;
}

#a:hover{
    background-color: rgb(186, 186, 186);
}

.start_here{
    display: flex;
    background-color: rgba(0, 0, 0, 0.781);
    height: 100vh;
    padding: 2%;
    flex-direction: column;
    text-align: center;
}

#welcome_title{
    color: white;
    font-family: 'Tangerine', serif;
    margin-top: 20vh ;
    font-size: 7vh;
    padding-left: 7.5vh;
    padding-right: 7.5vh;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    width: 25vw;
}

#des{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 3vh;
    padding-left: 7.5vh;
    padding-right: 7.5vh;
    width: 25vw;
}

#call{
    display: flex;
    justify-content: center;
    color: white;
    font-family: 'Lora', serif;
    font-size: 4vh;
    margin-top: 5vh ;
    margin-bottom: 5vh ;
    padding-left: 7.5vh;
    padding-right: 7.5vh ;
    width: 25vw;
}

.ref{
    display: flex;
    width: 50vw;
    font-size: 1vw;
    padding-left: 23.8vw ;
    padding-right: 23.8vw ;
    margin-top: 1vh;
    position: absolute;
    flex-direction: row;
    justify-content: space-evenly;
}

.page{
    background-color: rgba(255, 255, 255, 0.699);
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
    color: black;
    border-radius: 0.8vh;
    text-decoration:none;
    padding-top: 1vh;  
    width: 5vw;
    height: 5vh;
}

.page:hover{
    color: rgb(107, 107, 107);
}

.page:active{
    color: rgb(58, 58, 58);

}

#button{
    display: flex;
    justify-content: center;
}
 
.btn{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 201, 64);
    border-color: rgba(255, 255, 255, 0.767);
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
    font-size: 2.5vh;
    width: 16vw;
    height: 7vh;
}

#Menu{
    display: flex;
    background-image: url(https://media.istockphoto.com/vectors/grey-wheel-geometric-technology-background-with-gear-shape-vector-vector-id1162545693?k=20&m=1162545693&s=612x612&w=0&h=SuNDfDhqvyYCblUkX6CTIl38bu9zec_ynJEqOsCNUaM=);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover; 

}

#images{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 100%;
    
}

.menu_title{
    height: fit-content;
}
/* margin-top: 20vh ;
padding-left: 7.5vh;
padding-right: 7.5vh;
 */
.menu-title{
    color: black;
    font-family: 'Tangerine', serif;
    font-size: 7vh;
    margin-top: 10vh ;
    width: 25vw;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(39, 34, 34);
    margin-bottom: 6vh;
    display: flex;
    justify-content: center;
}

.order-photos{
    display: flex;
    width: 90vw;
    height: 250px;
    justify-content: space-evenly;
}

.courses-names{
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Playfair Display', serif;
}

#meal_1{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 8.jpg);
    background-size:contain;
    background-repeat: no-repeat ; 
    box-shadow: 4px 4px 4px rgb(39, 34, 34);
    width: 100%;
    height: 100%;  
}

#pic_1{
    margin-left: 52.5px;
    margin-right: 52.5px;
} 

#meal_2{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 27.jpg);
    background-size:contain;
    background-repeat: no-repeat ; 
    box-shadow: 4px 4px 4px rgb(39, 34, 34);
    width: 100%;
    height: 100%;
    
}

#pic_2{
    margin-left: 43px;
    margin-right: 43px;
}

#meal_3{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 31.jpg);
    background-size:contain;
    background-repeat: no-repeat ;
    box-shadow: 4px 4px 4px rgb(39, 34, 34);
    width: 100%;
    height: 100%;
}

#pic_3{
    margin-left: 46px;
    margin-right: 46px;
}

.description{
    display: flex;
    justify-content: center;
}

#meal_4{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 37.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
    box-shadow: 4px 4px 4px rgb(39, 34, 34);
    width: 100%;
    height: 100%;
}

#pic_4{
    margin-left: 64px;
    margin-right: 64px;
}

#meal_5{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 140.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 4px rgb(39, 34, 34); 
    width: 100.5%;
    height: 100%;
}

#pic_5{
    margin-left: 12px;
    margin-right: 12px;
}

#meal_6{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 59.jpg);
    background-size: contain;
    background-repeat: no-repeat; 
    box-shadow: 4px 4px 4px rgb(39, 34, 34);
    width: 100%;
    height: 100%;
}

#pic_6{
    margin-left: 64px;
    margin-right: 64px;
}

#meal_7{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 57.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 4px rgb(39, 34, 34); 
    width: 100%;
    height: 100%;
}

#pic_7{
    margin-left: 35.5px;
    margin-right: 35.5px;
}

#meal_8{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 124.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 4px rgb(39, 34, 34); 
    width: 100%;
    height: 100%;
}

#pic_8{
    margin-left: 44px;
    margin-right: 44px;
}

#meal_9{
    background-image: url(./menu/Ginsburg_Mena_26.7.22\ 119.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 4px rgb(39, 34, 34); 
    width: 100%;
    height: 100%;
}

#pic_9{
    margin-left: 44px;
    margin-right: 44px;
}

#meal_10{
    background-image: url(./menu/desserts/Ginsburg_Mena_26.7.22\ 165.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 4px rgb(39, 34, 34); 
    margin-left: 15px;
    width: 83%;
    height: 100%;
}

#meal_11{
    background-image: url(./menu/desserts/Ginsburg_Mena_26.7.22\ 163.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 4px rgb(39, 34, 34); 
    margin-left: 8px;
    width: 92%;
    height: 100%;
}

#meal_12{
    background-image: url(./menu/desserts/Ginsburg_Mena_26.7.22\ 167.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    box-shadow: 4px 4px 4px rgb(39, 34, 34); 
    margin-left: 38px;
    width: 63%;
    height: 100%;
}

#FAQ{
    display: flex;
    background-image: url(./Photos/Ginsburg_Mena_26.7.22\ 196.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

#image_size{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}

.faq_block{
    background-color: rgba(0,0,0,0.6);
    width: 25%;
    height: 65vh;
}

#chef{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.faq_titles{
    color: white;
    font-family: 'Tangerine', serif;
    font-size: 7vh;
    text-shadow: 4px 4px 4px #aaa;
    text-align: center;
    width: 25vw;
    margin-top: 7vh;
    margin-bottom: 1vh;
}

#inon{
    background-image: url(./Photos/Ginsburg_Mena_26.7.22\ 201.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 7%;
    /* margin-top: 4.5vw; */
    /* margin-buttom: 4.5vw; */
    width: 166px;
    height: 110px;
}

#Mena{
    display: flex;
    background-image: url(./Photos/Ginsburg_Mena_26.7.22\ 220.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    border-radius: 7%;
    margin-left: 4.5vw;
    margin-right: 4.5vw;
    width: 166px;
    height: 110px;
}

.ans{
    color: white;
    font-family: 'Playfair Display', serif;
    font-size: 2vh;
    text-align: center;
    width: 80%;
    margin-bottom: 1.8vw;
    margin-top: 1.8vw;
}

#restuaraunt{
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: flex-end;
}

#Contact{
    display: flex;
}

#Background{
    width: 100%;
    opacity: 0.6;
}

#contact_background{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 97.5vw;
    height: 142vh;
}

#contact_us{
    color: black;
    font-family: 'Tangerine', serif;
    margin-top: 25vh ;
    width: 25vw;
    text-align: center;
    text-shadow: 4px 4px 4px rgb(39, 34, 34);
    font-size: 7em;
    width: 100%;
}

.contact_section{
    display: flex;
    justify-content: center;
}

.input_section{
    background-color:rgba(94, 93, 97, 0);
    border-color: rgb(0, 0, 0);
    width: 12.9vw;
    height: 8vh;
    border-radius: 4px;
    box-sizing: border-box;
}

input::placeholder{
    color: rgb(0, 0, 0);
    padding: 0.5vw;
    font-weight: bold;
    font-family: 'Open Sans', sans-serif;
}

#input_name{
    margin-right: 0.5vw;
}

select#reason{
    margin-top: 1vh;
    width: 26.3vw;
    height: 8vh;
    border-width: 2px;

}

select{
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

textarea::placeholder{
    color: rgb(0, 0, 0);
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;
}

textarea#message{
    margin-top: 1vh;
    width: 26.3vw;
    height: 25vh;
    border-width: 2px;
}

.agreement{
    margin-top: 2vh;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;

}

#buttom{
    border-color: none;
}

.submit{
    background-color:#fae3a4;
    border-color: rgba(160, 160, 157, 0.61); 
    border-width: 1px;
    font-family: 'Open Sans', sans-serif;
    font-weight: bold;    
    margin-top: 3vh;
    width: 15vw;
    height: 7vh;
}
.submit:active{
    background-color:#fcdf91;
}

@media only screen and (max-width: 768px) {



    body{
        margin-left: 0%;
        margin-top: 0%;
        width: 101.5vw;
        height: 107vh;
    }

    #Home{
        background-size: cover;
        width: 100%;
        height: 100%;
    }

    .start_here{
        height: 100%;
        padding-top: 0%;
        padding-bottom: 0%;
    }

    #welcome_title{
        margin-top: 20vh;
        margin-bottom: 1vh;
        padding: 0vh 1vw;
        width: 40vw;
    }

    #des{
        width: 40vw;
        padding: 0vh 1vw;
    }

    #call{
        width: 40vw;
        padding: 0vh 1vw;
    }

    .btn{
        width: 20vh;
    }

    .ref{
        width:100%;
        padding: 0%;
    }

    .page{
        height: 2vh;    
    }

    .menu-title{
        width: 100%;
    }

    .order-photos{
        width: 100%;
        height: 210px;
    }
    

    #meal_1{
        width: 100%;
        height: 100%;  
    }
    
    #pic_1{
        margin-left: 22.5px;
        margin-right: 22.5px;
    } 
    
    #meal_2{
        width: 100%;
        height: 100%;
        
    }
    
    #pic_2{
        margin-left: 13px;
        margin-right: 13px;
    }
    
    #meal_3{
        width: 100%;
        height: 100%;
    }
    
    #pic_3{
        margin-left: 15px;
        margin-right: 15px;
    }

    #meal_4{
        width: 100%;
        height: 100%;
    }
    
    #pic_4{
        margin-left: 34px;
        margin-right: 34px;
    }
    
    #meal_5{
        width: 100%;
        height: 100%;
    }
    
    #pic_5{
        margin: 1.2vh 0 0 0;
        width: 20vw;
    }
    
    #meal_6{
        width: 100%;
        height: 100%;
    }
    
    #pic_6{
        margin-left: 34px;
        margin-right: 34px;
    }
    
    #meal_7{
        width: 100%;
        height: 100%;
    }
    
    #pic_7{
        margin-left: 6.5px;
        margin-right: 6.5px;
    }
    
    #meal_8{
        width: 100%;
        height: 100%;
    }
    
    #pic_8{
        margin-left: 14px;
        margin-right: 14px;
    }
    
    #meal_9{
        width: 100%;
        height: 100%;
    }
    
    #pic_9{
        margin-left: 14px;
        margin-right: 14px;
    }
    
    #meal_10{
        margin-left: 15px;
        width: 83%;
        height: 100%;
    }

    #pic_10{
        width: 18.8vw;
    }
    
    #meal_11{
        margin-left: 8px;
        width: 92%;
        height: 100%;
    }

    #pic_11{
        width: 18.7vw;
    }
    
    #meal_12{
        background-image: url(./menu/desserts/Ginsburg_Mena_26.7.22\ 167.jpg);
        background-size: contain;
        background-repeat: no-repeat;
        box-shadow: 4px 4px 4px rgb(39, 34, 34); 
        margin-left: 38px;
        width: 63%;
        height: 100%;
    }

    #pic_12{
        width: 18.8vw;
    }

    .faq_block{
        width: 51vw;
    }

    .faq_titles{
        width: 100%;
    }

    .ans{
        margin-top: 4vh;
        margin-bottom: 3vh;
    }

    #contact_background{
        height: 50%;
        width: 101%;

    }

    #Background{
        background-size: cover !important;
    }

    #contact_us{
        margin-top: 2vh;
        margin-bottom: 1vh;
    }

    .input_section{
        width: 45vw;
        height: 6vh;
    }

    #reason{
        width: 90vw !important;
        height: 6vh;
    }

    #message{
        width: 90vw !important;
        height: 10vh !important;
    }

    .submit{
        height: 5vh;
    }
}
